# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
logs/*
pids
*.pid
*.seed
*.pid.lock

# OS-specific files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.sublime-workspace

# Build files
dist/
out/
coverage/
